
<h1 class="list-title">Elérhető kurzusok lisája</h1>


<table class="user_table">
  <thead>
    <th>Id</th>
    <th>Kurzuskód</th>
    <th>Kurzuscím</th>
    <th>Kurzus típusa</th>
    <th>Regisztráció kezdete</th>
    <th>Regisztráció vége</th>
    <th>Max. létszám</th>
    <th>Létszám</th>
    <th>Vizsga típusa</th>
    <th>Bővebben</th>
  </thead>
<tbody>
  <tr *ngFor = "let item of courseList">
    <td>{{item.dtoId}}</td>
    <td>{{item.code}}</td>
    <td>{{item.title}}</td>
    <td>{{item.examType}}</td>
    <td>{{item.registrationStart}}</td>
    <td>{{item.registrationEnd}}</td>
    <td>{{item.limitOfRegisteredStudents}}</td>
    <td>{{item.numberOfRegisteredStudents}}</td>
    <td>{{item.examType}}</td>
    <td><button  (click)= "showDetails(item.dtoId)">Bővebben</button></td>
    
  </tr>
</tbody>
</table>