.user-table{
    position: absolute;
    left:450px;
    top:150px;
    color:black;
    font-size: 10px;
    width: 800px;
    
    text-align: center;  
    border-collapse: collapse;
}

.user-table td {
    border: 1px solid black; /* Add border to table cells */
    padding: 5px; /* Add padding for better appearance */
  }

.list-title{
    position:absolute;
    top:50px;
    left:700px;
}

.code{
    position:absolute;
    top:90px;
}

.title{
    position:absolute;
    top:120px;
}

.type{
    position:absolute;
    top:150px;
}


.regstart{
    position:absolute;
    top:180px;
}


.regend{
    position:absolute;
    top:210px;
}


.description{
    position:absolute;
    top:240px;
}


.limit{
    position:absolute;
    top:270px;
}


.exam{
    position:absolute;
    top:300px;
}

.submitbutton{
    position:absolute;
    top: 130px;
    width:150px;
    height:50px;
}

.reactivate-course-btn{
    position:absolute;
    top: 230px;
    width:150px;
    height:50px;
}

.inact-course-table{
    position: absolute;
    left:450px;
    top:630px;
    color:black;
    font-size: 10px;
    width: 800px;
    
    text-align: center;  
    border-collapse: collapse;

}

.inact-course-table td {
    border: 1px solid black; /* Add border to table cells */
    padding: 5px; /* Add padding for better appearance */
  }

.inact-list-title{
    position:absolute;
    top:550px;
    left:700px;
}

.react-course{
    position: absolute;
    top:200px;
}

.react-btn{
    width:150px;
    height:50px;
}

.back-button {
    background-color: lightgreen;
    width:150px;
    height:50px;
    position: absolute;
    top:80px;
    left:500px;
  }
  
