.entry {
    border: 2px solid #000; /* Border color and width */
    border-radius: 10px;
    padding: 10px; /* Padding to create space between content and border */
    width: 600px; /* Set width as needed */
    margin-bottom: 20px;
    align-self: flex-end; 
}

.container {
    position:absolute;
    top: 80px;
    right: 50px;
}

.textarea {
    width: 500px; /* Take up full width of the frame minus padding */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 5px; /* Add padding for better appearance */
    margin: 0; /* Remove default margin */
    position: absolute; /* Position absolute for alignment */
    top: 200px; /* Align to the top */
    left: 50px; /* Align to the left */
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px; /* Set minimum height */
}

.forum_button{
    position:absolute;
    top:350px;
    left:50px;
    width: 200px;
    height: 50px;

}

.course-title{
    position:absolute;
    top:80px;
    left:50px;
}

.back-btn{
    position: absolute;
    top: 350px;
    left:300px;
    width:200px;
    height:50px;
    background-color:lightgreen;
}